nav {
    background-color: black;
    padding: 10px;
}

nav ul {
    list-style-type: none;

    display: flex;
    gap: 20px;
    justify-content: center;
}

nav ul li a {
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: white;
}

.selected {
    border-bottom: solid 2px white;
}